* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.porfolio .container .proyectos {
    width: 100%;
    height: auto;
}

.porfolio .container .proyectos .container_fotos {
    padding-top: 20px;
    height: auto;
    overflow: hidden;
}

.porfolio .container .proyectos .container_fotos .text-porfolio {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    padding-top: 60px;
    padding-bottom: 60px;
}

.porfolio .container .proyectos .container_fotos .minicontainer {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 5px;
    padding-bottom: 20px;

    display: grid;
    grid-template-columns: repeat(1, 350);
    grid-template-rows: repeat(10, 350px);
    grid-gap: 10px;
    
}

.porfolio .container .proyectos .container_fotos .minicontainer .grid-item {
    width: 100%;
    height: 350px;
    overflow: hidden;
    background-color: #ddd;
    
}

.porfolio .container .proyectos .container_fotos .minicontainer .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms;    
}




/* Media queries */

@media screen and (max-width: 375px) {
    .porfolio .container .proyectos .container_fotos .minicontainer .grid-item {

        --webkit-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.123);
        box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.123);
        border-radius: 20px;
    }
}

@media screen and (min-width: 500px) {
    .porfolio .introduccion .container .linea {
        width: 70px;
    }

    /*.porfolio .container .proyectos .container_fotos .minicontainer {
        width: 90%;
    }*/

    .porfolio .container .proyectos .container_fotos .minicontainer .grid-item {
        width: 100%;
        height: 350px;

        --webkit-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.123);
        box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.123);
        border-radius: 20px;
    }
}

@media screen and (min-width: 600px) {
    .porfolio .container .proyectos .container_fotos .minicontainer {
        width: 90%;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 350px);
    }

    .porfolio .container .proyectos .container_fotos .minicontainer .grid-item {
        width: 100%;
        height: 350px;
    }
}

@media screen and (min-width: 768px) {
    .porfolio .introduccion {
        height: 160px;
    }
    
    .porfolio .introduccion .container {
        height: 160px;
        display: block;
    }
    
    .porfolio .introduccion .container .text {
        margin-top: 15px;
        padding-bottom: 2%;
    }
    
    .porfolio .introduccion .container .linea {
        width: 30%;
    }
    
    .porfolio .introduccion .container .texto {
        width: 60%;
        padding-top: 2%;
    }
    
    .porfolio .introduccion .container h4 {
        padding-top: 1%;
    }
}

@media screen and (min-width: 1024px) {
    .porfolio .introduccion .container .texto {
        width: 30%;
        padding-top: 0.5%;
    }

    .porfolio .container .proyectos .container_fotos .minicontainer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 350px);
        grid-gap: 10px 10px;
    }

    .porfolio .container .proyectos .container_fotos .minicontainer .grid-item {
        width: 100%;
        height: 350px;
        box-shadow: 3px 5px 5px 0;
    }

    .porfolio .container .proyectos .container_fotos .minicontainer .grid-item:nth-child(2) {
    grid-column: 2 / 5;
    }

    .porfolio .container .proyectos .container_fotos .minicontainer .grid-item:nth-child(5) {
    grid-column: 3 / 5;
    }

    .porfolio .container .proyectos .container_fotos .minicontainer .grid-item:nth-child(6) {
    grid-column: 1 / 4;
    }

    .porfolio .container .proyectos .container_fotos .minicontainer .grid-item:nth-child(10) {
        grid-column: 3 / 5;
    }

    .porfolio .container .proyectos .container_fotos .minicontainer .grid-item img:hover {
        opacity: 1;
	    -webkit-transition: all .3s ease;
	    -o-transition: all .3s ease;
        transition: all .3s ease;
        transform: scale(1.5);
        transition: all 300ms;
    }
}
