* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Antic Slab', serif;
}

/*** menu ***/

header {
    width: 100%;
    height: 10vh;
}

header input {
    display: none;
}

header .icon {
    display: none;
}

header .container-nav {
    width: 90%;
    height: 10vh;
    margin-right: auto;
    margin-left: auto;
}

header .container-nav .container-menu {
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 100px 100px 100px 100px 100px;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}

header .container-nav .container-menu .logo {
    justify-self: flex-start;
}

header .container-nav .container-menu li {
    list-style: none;
}

header .container-nav .container-menu li a {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;

}

/*** hero ***/ 

.hero {
    width: 100%;
    height: auto;
}

.hero .container-hero {
    width: 90%;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    /*grid-template-columns: 50% 50%; */
    grid-template-columns: repeat(auto-fill, 50%);
    align-self: center;
    align-items: center;
}

.hero .container-hero .text-hero1 {
    font-size: 52px;
    margin-bottom: 10px;
    font-family: 'Lemonada', cursive;
    font-weight: 500;
}

.hero .container-hero .text-hero2 {
    width: 60%;
    font-size: 32px;
    font-weight: 300;
}


.hero .container-hero .img-banner {
    width: 100%;
    height: 100%;
    background: url(../img/Banner/06.jpg);
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    /*opacity: 0.3;*/
    
}



/***responsive desing ***/ 

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    header {
        width: 100%;
        height: auto;
    }

    .hero {
        width: 100%;
        height: 500px;
    }

    .hero .container-hero {
        width: 90%;
        height: 500px;
        grid-template-rows: 90%;
    }
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */

  
    header label .icon {
        display: block;
        z-index: 100;
        padding-left: 12px;
    }

    header label img {
        width: 50px;
        color: #000;
    }
    
    header .container-nav {
        width: 90%;
        height: 45vh;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        z-index: 100;
    }


    header .container-nav .container-menu {
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 0;
        justify-items: flex-start;

        transform: translateX(-100%);
        transition: all 0.5s;
        background-color: #000;
    }

    #btn-menu:checked ~ .container-nav > .container-menu {
        transform: translateX(0);
    }

    header .container-nav .container-menu li {
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    header .container-nav .container-menu li:nth-child(6) {
        border-bottom: none;
    }

    header .container-nav .container-menu li:hove {
        background-color: #f4f4f4;
    }

    header .container-nav .container-menu li a {
        font-size: 16px;
        color: #fff;
        padding-left: 10px;
    }


    header .container-nav .container-menu .logo {
        display: none;
        justify-self: center;
    }


    .hero .container-hero {
        display: flex;
        flex-wrap: wrap;
    }

    .hero .container-hero .text-hero {
        width: 100%;
        text-align: center;
    }

    .hero .container-hero .text-hero1 {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        font-size: 42px;
        margin-bottom: 30px;
        line-height: 44px;
        font-weight: 100;
    }

    .hero .container-hero .text-hero2 {
        width: 100%;
        text-align: center;
        font-size: 22px;
    }

    .hero .container-hero .img-banner {
        height: 500px;
    }
}

@media screen and (min-width: 360px) {
    .container-hero {
        margin-bottom: 60px;
    }
}












